<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>YoyogiUehara</string>
		<key>Name</key>
		<string>代々木上原</string>
		<key>Lat</key>
		<real>35.669062</real>
		<key>Long</key>
		<real>139.679678</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>YoyogiKoen</string>
		<key>Name</key>
		<string>代々木公園</string>
		<key>Lat</key>
		<real>35.668954</real>
		<key>Long</key>
		<real>139.691318</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>MeijiJingumae</string>
		<key>Name</key>
		<string>明治神宮前</string>
		<key>Lat</key>
		<real>35.669071</real>
		<key>Long</key>
		<real>139.703995</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>OmoteSando</string>
		<key>Name</key>
		<string>表参道</string>
		<key>Lat</key>
		<real>35.665247</real>
		<key>Long</key>
		<real>139.712314</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Nogizaka</string>
		<key>Name</key>
		<string>乃木坂</string>
		<key>Lat</key>
		<real>35.666572</real>
		<key>Long</key>
		<real>139.726215</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Akasaka</string>
		<key>Name</key>
		<string>赤坂</string>
		<key>Lat</key>
		<real>35.672371</real>
		<key>Long</key>
		<real>139.736539</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>KokkaiGijidomae</string>
		<key>Name</key>
		<string>国会議事堂前</string>
		<key>Lat</key>
		<real>35.67393</real>
		<key>Long</key>
		<real>139.745219</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Kasumigaseki</string>
		<key>Name</key>
		<string>霞ケ関</string>
		<key>Lat</key>
		<real>35.673838</real>
		<key>Long</key>
		<real>139.750899</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Hibiya</string>
		<key>Name</key>
		<string>日比谷</string>
		<key>Lat</key>
		<real>35.675114</real>
		<key>Long</key>
		<real>139.759765</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Nijubashimae</string>
		<key>Name</key>
		<string>二重橋前</string>
		<key>Lat</key>
		<real>35.680366</real>
		<key>Long</key>
		<real>139.761615</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Otemachi</string>
		<key>Name</key>
		<string>大手町</string>
		<key>Lat</key>
		<real>35.684801</real>
		<key>Long</key>
		<real>139.766086</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>ShinOchanomizu</string>
		<key>Name</key>
		<string>新御茶ノ水</string>
		<key>Lat</key>
		<real>35.698072</real>
		<key>Long</key>
		<real>139.766014</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Yushima</string>
		<key>Name</key>
		<string>湯島</string>
		<key>Lat</key>
		<real>35.708243</real>
		<key>Long</key>
		<real>139.769916</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Nezu</string>
		<key>Name</key>
		<string>根津</string>
		<key>Lat</key>
		<real>35.717373</real>
		<key>Long</key>
		<real>139.765741</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Sendagi</string>
		<key>Name</key>
		<string>千駄木</string>
		<key>Lat</key>
		<real>35.725549</real>
		<key>Long</key>
		<real>139.763243</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>NishiNippori</string>
		<key>Name</key>
		<string>西日暮里</string>
		<key>Lat</key>
		<real>35.732135</real>
		<key>Long</key>
		<real>139.766787</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Machiya</string>
		<key>Name</key>
		<string>町屋</string>
		<key>Lat</key>
		<real>35.742268</real>
		<key>Long</key>
		<real>139.781435</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>KitaSenju</string>
		<key>Name</key>
		<string>北千住</string>
		<key>Lat</key>
		<real>35.749412</real>
		<key>Long</key>
		<real>139.805108</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Ayase</string>
		<key>Name</key>
		<string>綾瀬</string>
		<key>Lat</key>
		<real>35.762214</real>
		<key>Long</key>
		<real>139.824914</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>KitaAyase</string>
		<key>Name</key>
		<string>北綾瀬</string>
		<key>Lat</key>
		<real>35.760493</real>
		<key>Long</key>
		<real>139.46585</real>
	</dict>
</array>
</plist>
