<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>Shibuya</string>
		<key>Name</key>
		<string>渋谷</string>
		<key>Lat</key>
		<real>35.658517</real>
		<key>Long</key>
		<real>139.701334</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>OmoteSando</string>
		<key>Name</key>
		<string>表参道</string>
		<key>Lat</key>
		<real>35.665247</real>
		<key>Long</key>
		<real>139.712314</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Gaiemmae</string>
		<key>Name</key>
		<string>外苑前</string>
		<key>Lat</key>
		<real>35.670527</real>
		<key>Long</key>
		<real>139.717857</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>AoyamaItchome</string>
		<key>Name</key>
		<string>青山一丁目</string>
		<key>Lat</key>
		<real>35.672765</real>
		<key>Long</key>
		<real>139.724159</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>AkasakaMitsuke</string>
		<key>Name</key>
		<string>赤坂見附</string>
		<key>Lat</key>
		<real>35.677021</real>
		<key>Long</key>
		<real>139.737047</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>TameikeSanno</string>
		<key>Name</key>
		<string>溜池山王</string>
		<key>Lat</key>
		<real>35.673621</real>
		<key>Long</key>
		<real>139.741419</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Toranomon</string>
		<key>Name</key>
		<string>虎ノ門</string>
		<key>Lat</key>
		<real>35.670236</real>
		<key>Long</key>
		<real>139.749832</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Shimbashi</string>
		<key>Name</key>
		<string>新橋</string>
		<key>Lat</key>
		<real>35.665498</real>
		<key>Long</key>
		<real>139.75964</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Ginza</string>
		<key>Name</key>
		<string>銀座</string>
		<key>Lat</key>
		<real>35.671989</real>
		<key>Long</key>
		<real>139.763965</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Kyobashi</string>
		<key>Name</key>
		<string>京橋</string>
		<key>Lat</key>
		<real>35.67685</real>
		<key>Long</key>
		<real>139.7701</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Nihombashi</string>
		<key>Name</key>
		<string>日本橋</string>
		<key>Lat</key>
		<real>35.682413</real>
		<key>Long</key>
		<real>139.773919</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Mitsukoshimae</string>
		<key>Name</key>
		<string>三越前</string>
		<key>Lat</key>
		<real>35.684888</real>
		<key>Long</key>
		<real>139.773161</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Kanda</string>
		<key>Name</key>
		<string>神田</string>
		<key>Lat</key>
		<real>35.69169</real>
		<key>Long</key>
		<real>139.770883</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Suehirocho</string>
		<key>Name</key>
		<string>末広町</string>
		<key>Lat</key>
		<real>35.702972</real>
		<key>Long</key>
		<real>139.771713</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>UenoHirokoji</string>
		<key>Name</key>
		<string>上野広小路</string>
		<key>Lat</key>
		<real>35.70766</real>
		<key>Long</key>
		<real>139.772977</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Ueno</string>
		<key>Name</key>
		<string>上野</string>
		<key>Lat</key>
		<real>35.713768</real>
		<key>Long</key>
		<real>139.777254</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Inaricho</string>
		<key>Name</key>
		<string>稲荷町</string>
		<key>Lat</key>
		<real>35.711352</real>
		<key>Long</key>
		<real>139.782734</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Tawaramachi</string>
		<key>Name</key>
		<string>田原町</string>
		<key>Lat</key>
		<real>35.709855</real>
		<key>Long</key>
		<real>139.7908</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Asakusa</string>
		<key>Name</key>
		<string>浅草</string>
		<key>Lat</key>
		<real>35.712074</real>
		<key>Long</key>
		<real>139.79843</real>
	</dict>
</array>
</plist>
