<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>Shibuya</string>
		<key>Name</key>
		<string>渋谷</string>
		<key>Lat</key>
		<real>35.658517</real>
		<key>Long</key>
		<real>139.701334</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>OmoteSando</string>
		<key>Name</key>
		<string>表参道</string>
		<key>Lat</key>
		<real>35.665247</real>
		<key>Long</key>
		<real>139.712314</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>AoyamaItchome</string>
		<key>Name</key>
		<string>青山一丁目</string>
		<key>Lat</key>
		<real>35.672765</real>
		<key>Long</key>
		<real>139.724159</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Nagatacho</string>
		<key>Name</key>
		<string>永田町</string>
		<key>Lat</key>
		<real>35.678757</real>
		<key>Long</key>
		<real>139.740258</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Hanzomon</string>
		<key>Name</key>
		<string>半蔵門</string>
		<key>Lat</key>
		<real>35.685703</real>
		<key>Long</key>
		<real>139.741644</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Kudanshita</string>
		<key>Name</key>
		<string>九段下</string>
		<key>Lat</key>
		<real>35.695589</real>
		<key>Long</key>
		<real>139.751948</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Jimbocho</string>
		<key>Name</key>
		<string>神保町</string>
		<key>Lat</key>
		<real>35.695492</real>
		<key>Long</key>
		<real>139.75812</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Otemachi</string>
		<key>Name</key>
		<string>大手町</string>
		<key>Lat</key>
		<real>35.684801</real>
		<key>Long</key>
		<real>139.766086</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Mitsukoshimae</string>
		<key>Name</key>
		<string>三越前</string>
		<key>Lat</key>
		<real>35.684888</real>
		<key>Long</key>
		<real>139.773161</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Suitengumae</string>
		<key>Name</key>
		<string>水天宮前</string>
		<key>Lat</key>
		<real>35.682061</real>
		<key>Long</key>
		<real>139.786035</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>KiyosumiShirakawa</string>
		<key>Name</key>
		<string>清澄白河</string>
		<key>Lat</key>
		<real>35.682105</real>
		<key>Long</key>
		<real>139.798851</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Sumiyoshi</string>
		<key>Name</key>
		<string>住吉</string>
		<key>Lat</key>
		<real>35.689071</real>
		<key>Long</key>
		<real>139.815651</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Kinshicho</string>
		<key>Name</key>
		<string>錦糸町</string>
		<key>Lat</key>
		<real>35.696437</real>
		<key>Long</key>
		<real>139.813949</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Oshiage</string>
		<key>Name</key>
		<string>押上</string>
		<key>Lat</key>
		<real>35.710702</real>
		<key>Long</key>
		<real>139.812935</real>
	</dict>
</array>
</plist>
