<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>NakaMeguro</string>
		<key>Name</key>
		<string>中目黒</string>
		<key>Lat</key>
		<real>35.644307</real>
		<key>Long</key>
		<real>139.699157</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Ebisu</string>
		<key>Name</key>
		<string>恵比寿</string>
		<key>Lat</key>
		<real>35.64669</real>
		<key>Long</key>
		<real>139.710106</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>HiroO</string>
		<key>Name</key>
		<string>広尾</string>
		<key>Lat</key>
		<real>35.652279</real>
		<key>Long</key>
		<real>139.722227</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Roppongi</string>
		<key>Name</key>
		<string>六本木</string>
		<key>Lat</key>
		<real>35.662836</real>
		<key>Long</key>
		<real>139.731443</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Kamiyacho</string>
		<key>Name</key>
		<string>神谷町</string>
		<key>Lat</key>
		<real>35.662978</real>
		<key>Long</key>
		<real>139.745069</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Kasumigaseki</string>
		<key>Name</key>
		<string>霞ケ関</string>
		<key>Lat</key>
		<real>35.673838</real>
		<key>Long</key>
		<real>139.750899</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Hibiya</string>
		<key>Name</key>
		<string>日比谷</string>
		<key>Lat</key>
		<real>35.675114</real>
		<key>Long</key>
		<real>139.759765</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Ginza</string>
		<key>Name</key>
		<string>銀座</string>
		<key>Lat</key>
		<real>35.671989</real>
		<key>Long</key>
		<real>139.763965</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>HigashiGinza</string>
		<key>Name</key>
		<string>東銀座</string>
		<key>Lat</key>
		<real>35.669464</real>
		<key>Long</key>
		<real>139.767253</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Tsukiji</string>
		<key>Name</key>
		<string>築地</string>
		<key>Lat</key>
		<real>35.668115</real>
		<key>Long</key>
		<real>139.772603</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Hatchobori</string>
		<key>Name</key>
		<string>八丁堀</string>
		<key>Lat</key>
		<real>35.674617</real>
		<key>Long</key>
		<real>139.777705</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Kayabacho</string>
		<key>Name</key>
		<string>茅場町</string>
		<key>Lat</key>
		<real>35.679752</real>
		<key>Long</key>
		<real>139.780005</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Ningyocho</string>
		<key>Name</key>
		<string>人形町</string>
		<key>Lat</key>
		<real>35.686307</real>
		<key>Long</key>
		<real>139.782285</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Kodemmacho</string>
		<key>Name</key>
		<string>小伝馬町</string>
		<key>Lat</key>
		<real>35.690737</real>
		<key>Long</key>
		<real>139.778433</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Akihabara</string>
		<key>Name</key>
		<string>秋葉原</string>
		<key>Lat</key>
		<real>35.698683</real>
		<key>Long</key>
		<real>139.774219</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>NakaOkachimachi</string>
		<key>Name</key>
		<string>仲御徒町</string>
		<key>Lat</key>
		<real>35.706555</real>
		<key>Long</key>
		<real>139.776202</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Ueno</string>
		<key>Name</key>
		<string>上野</string>
		<key>Lat</key>
		<real>35.713768</real>
		<key>Long</key>
		<real>139.777254</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Iriya</string>
		<key>Name</key>
		<string>入谷</string>
		<key>Lat</key>
		<real>35.720734</real>
		<key>Long</key>
		<real>139.784542</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Minowa</string>
		<key>Name</key>
		<string>三ノ輪</string>
		<key>Lat</key>
		<real>35.729528</real>
		<key>Long</key>
		<real>139.79133</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>MinamiSenju</string>
		<key>Name</key>
		<string>南千住</string>
		<key>Lat</key>
		<real>35.733336</real>
		<key>Long</key>
		<real>139.799171</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>KitaSenju</string>
		<key>Name</key>
		<string>北千住</string>
		<key>Lat</key>
		<real>35.749412</real>
		<key>Long</key>
		<real>139.805108</real>
	</dict>
</array>
</plist>
