<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>Ogikubo</string>
		<key>Name</key>
		<string>荻窪</string>
		<key>Lat</key>
		<real>35.704632</real>
		<key>Long</key>
		<real>139.619981</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>MinamiAsagaya</string>
		<key>Name</key>
		<string>南阿佐ケ谷</string>
		<key>Lat</key>
		<real>35.699624</real>
		<key>Long</key>
		<real>139.63576</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>ShinKoenji</string>
		<key>Name</key>
		<string>新高円寺</string>
		<key>Lat</key>
		<real>35.697985</real>
		<key>Long</key>
		<real>139.648068</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>HigashiKoenji</string>
		<key>Name</key>
		<string>東高円寺</string>
		<key>Lat</key>
		<real>35.697802</real>
		<key>Long</key>
		<real>139.657822</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>ShinNakano</string>
		<key>Name</key>
		<string>新中野</string>
		<key>Lat</key>
		<real>35.697491</real>
		<key>Long</key>
		<real>139.66903</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>NakanoSakaue</string>
		<key>Name</key>
		<string>中野坂上</string>
		<key>Lat</key>
		<real>35.69792</real>
		<key>Long</key>
		<real>139.68291</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>NishiShinjuku</string>
		<key>Name</key>
		<string>西新宿</string>
		<key>Lat</key>
		<real>35.694298</real>
		<key>Long</key>
		<real>139.692778</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Shinjuku</string>
		<key>Name</key>
		<string>新宿</string>
		<key>Lat</key>
		<real>35.690921</real>
		<key>Long</key>
		<real>139.700258</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>ShinjukuSanchome</string>
		<key>Name</key>
		<string>新宿三丁目</string>
		<key>Lat</key>
		<real>35.690616</real>
		<key>Long</key>
		<real>139.706271</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>ShinjukuGyoemmae</string>
		<key>Name</key>
		<string>新宿御苑前</string>
		<key>Lat</key>
		<real>35.688588</real>
		<key>Long</key>
		<real>139.71069</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>YotsuyaSanchome</string>
		<key>Name</key>
		<string>四谷三丁目</string>
		<key>Lat</key>
		<real>35.687958</real>
		<key>Long</key>
		<real>139.720103</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Yotsuya</string>
		<key>Name</key>
		<string>四ツ谷</string>
		<key>Lat</key>
		<real>35.686014</real>
		<key>Long</key>
		<real>139.730667</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>AkasakaMitsuke</string>
		<key>Name</key>
		<string>赤坂見附</string>
		<key>Lat</key>
		<real>35.677021</real>
		<key>Long</key>
		<real>139.737047</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>KokkaiGijidomae</string>
		<key>Name</key>
		<string>国会議事堂前</string>
		<key>Lat</key>
		<real>35.67393</real>
		<key>Long</key>
		<real>139.745219</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Kasumigaseki</string>
		<key>Name</key>
		<string>霞ケ関</string>
		<key>Lat</key>
		<real>35.673838</real>
		<key>Long</key>
		<real>139.750899</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Ginza</string>
		<key>Name</key>
		<string>銀座</string>
		<key>Lat</key>
		<real>35.671989</real>
		<key>Long</key>
		<real>139.763965</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Tokyo</string>
		<key>Name</key>
		<string>東京</string>
		<key>Lat</key>
		<real>35.681382</real>
		<key>Long</key>
		<real>139.766084</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Otemachi</string>
		<key>Name</key>
		<string>大手町</string>
		<key>Lat</key>
		<real>35.684801</real>
		<key>Long</key>
		<real>139.766086</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Awajicho</string>
		<key>Name</key>
		<string>淡路町</string>
		<key>Lat</key>
		<real>35.695434</real>
		<key>Long</key>
		<real>139.767575</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Ochanomizu</string>
		<key>Name</key>
		<string>御茶ノ水</string>
		<key>Lat</key>
		<real>35.699855</real>
		<key>Long</key>
		<real>139.763786</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>HongoSanchome</string>
		<key>Name</key>
		<string>本郷三丁目</string>
		<key>Lat</key>
		<real>35.706671</real>
		<key>Long</key>
		<real>139.759914</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Korakuen</string>
		<key>Name</key>
		<string>後楽園</string>
		<key>Lat</key>
		<real>35.707337</real>
		<key>Long</key>
		<real>139.7512</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Myogadani</string>
		<key>Name</key>
		<string>茗荷谷</string>
		<key>Lat</key>
		<real>35.717305</real>
		<key>Long</key>
		<real>139.736734</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>ShinOtsuka</string>
		<key>Name</key>
		<string>新大塚</string>
		<key>Lat</key>
		<real>35.725793</real>
		<key>Long</key>
		<real>139.729915</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Ikebukuro</string>
		<key>Name</key>
		<string>池袋</string>
		<key>Lat</key>
		<real>35.728926</real>
		<key>Long</key>
		<real>139.71038</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Honancho</string>
		<key>Name</key>
		<string>方南町</string>
		<key>Lat</key>
		<real>35.683496</real>
		<key>Long</key>
		<real>139.656498</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>NakanoFujimicho</string>
		<key>Name</key>
		<string>中野富士見町</string>
		<key>Lat</key>
		<real>35.690514</real>
		<key>Long</key>
		<real>139.666933</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>NakanoShimbashi</string>
		<key>Name</key>
		<string>中野新橋</string>
		<key>Lat</key>
		<real>35.692123</real>
		<key>Long</key>
		<real>139.673997</real>
	</dict>
</array>
</plist>
