<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>odpt.Railway:TokyoMetro.Ginza</string>
		<key>Name</key>
		<string>銀座線</string>
		<key>Color</key>
		<dict>
			<key>r</key>
			<integer>255</integer>
			<key>g</key>
			<integer>144</integer>
			<key>b</key>
			<integer>0</integer>
		</dict>
		<key>Direction</key>
		<array>
			<dict>
				<key>ID</key>
				<string>odpt.RailDirection:TokyoMetro.Shibuya</string>
				<key>Name</key>
				<string>渋谷方面</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>odpt.RailDirection:TokyoMetro.Asakusa</string>
				<key>Name</key>
				<string>浅草方面</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>odpt.Railway:TokyoMetro.Marunouchi</string>
		<key>Name</key>
		<string>丸ノ内線</string>
		<key>Color</key>
		<dict>
			<key>r</key>
			<integer>246</integer>
			<key>g</key>
			<integer>46</integer>
			<key>b</key>
			<integer>54</integer>
		</dict>
		<key>Direction</key>
		<array>
			<dict>
				<key>ID</key>
				<string>odpt.RailDirection:TokyoMetro.Ogikubo</string>
				<key>Name</key>
				<string>荻窪方面</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>odpt.RailDirection:TokyoMetro.Ikebukuro</string>
				<key>Name</key>
				<string>池袋方面</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>odpt.RailDirection:TokyoMetro.Honancho</string>
				<key>Name</key>
				<string>方南町方面</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>odpt.RailDirection:TokyoMetro.NakanoSakaue</string>
				<key>Name</key>
				<string>中野坂上方面</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>odpt.Railway:TokyoMetro.Hibiya</string>
		<key>Name</key>
		<string>日比谷線</string>
		<key>Color</key>
		<dict>
			<key>r</key>
			<integer>181</integer>
			<key>g</key>
			<integer>181</integer>
			<key>b</key>
			<integer>172</integer>
		</dict>
		<key>Direction</key>
		<array>
			<dict>
				<key>ID</key>
				<string>odpt.RailDirection:TokyoMetro.KitaSenju</string>
				<key>Name</key>
				<string>北千住方面</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>odpt.RailDirection:TokyoMetro.NakaMeguro</string>
				<key>Name</key>
				<string>中目黒方面</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>odpt.Railway:TokyoMetro.Tozai</string>
		<key>Name</key>
		<string>東西線</string>
		<key>Color</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>155</integer>
			<key>b</key>
			<integer>191</integer>
		</dict>
		<key>Direction</key>
		<array>
			<dict>
				<key>ID</key>
				<string>odpt.RailDirection:TokyoMetro.NishiFunabashi</string>
				<key>Name</key>
				<string>西船橋方面</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>odpt.RailDirection:TokyoMetro.Nakano</string>
				<key>Name</key>
				<string>中野方面</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>odpt.Railway:TokyoMetro.Chiyoda</string>
		<key>Name</key>
		<string>千代田線</string>
		<key>Color</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>187</integer>
			<key>b</key>
			<integer>133</integer>
		</dict>
		<key>Direction</key>
		<array>
			<dict>
				<key>ID</key>
				<string>odpt.RailDirection:TokyoMetro.YoyogiUehara</string>
				<key>Name</key>
				<string>代々木上原方面</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>odpt.RailDirection:TokyoMetro.Ayase</string>
				<key>Name</key>
				<string>綾瀬方面</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>odpt.RailDirection:TokyoMetro.KitaAyase</string>
				<key>Name</key>
				<string>北綾瀬方面</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>odpt.Railway:TokyoMetro.Yurakucho</string>
		<key>Name</key>
		<string>有楽町線</string>
		<key>Color</key>
		<dict>
			<key>r</key>
			<integer>193</integer>
			<key>g</key>
			<integer>164</integer>
			<key>b</key>
			<integer>112</integer>
		</dict>
		<key>Direction</key>
		<array>
			<dict>
				<key>ID</key>
				<string>odpt.RailDirection:TokyoMetro.Wakoshi</string>
				<key>Name</key>
				<string>和光市方面</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>odpt.RailDirection:TokyoMetro.ShinKiba</string>
				<key>Name</key>
				<string>新木場方面</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>odpt.Railway:TokyoMetro.Hanzomon</string>
		<key>Name</key>
		<string>半蔵門線</string>
		<key>Color</key>
		<dict>
			<key>r</key>
			<integer>143</integer>
			<key>g</key>
			<integer>118</integer>
			<key>b</key>
			<integer>214</integer>
		</dict>
		<key>Direction</key>
		<array>
			<dict>
				<key>ID</key>
				<string>odpt.RailDirection:TokyoMetro.Oshiage</string>
				<key>Name</key>
				<string>押上方面</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>odpt.RailDirection:TokyoMetro.Shibuya</string>
				<key>Name</key>
				<string>渋谷方面</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>odpt.Railway:TokyoMetro.Namboku</string>
		<key>Name</key>
		<string>南北線</string>
		<key>Color</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>172</integer>
			<key>b</key>
			<integer>155</integer>
		</dict>
		<key>Direction</key>
		<array>
			<dict>
				<key>ID</key>
				<string>odpt.RailDirection:TokyoMetro.AkabaneIwabuchi</string>
				<key>Name</key>
				<string>赤羽岩淵方面</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>odpt.RailDirection:TokyoMetro.Meguro</string>
				<key>Name</key>
				<string>目黒方面</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>odpt.Railway:TokyoMetro.Fukutoshin</string>
		<key>Name</key>
		<string>副都心線</string>
		<key>Color</key>
		<dict>
			<key>r</key>
			<integer>156</integer>
			<key>g</key>
			<integer>94</integer>
			<key>b</key>
			<integer>49</integer>
		</dict>
		<key>Direction</key>
		<array>
			<dict>
				<key>ID</key>
				<string>odpt.RailDirection:TokyoMetro.Wakoshi</string>
				<key>Name</key>
				<string>和光市方面</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>odpt.RailDirection:TokyoMetro.Shibuya</string>
				<key>Name</key>
				<string>渋谷方面</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
