<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>Meguro</string>
		<key>Name</key>
		<string>目黒</string>
		<key>Lat</key>
		<real>35.633998</real>
		<key>Long</key>
		<real>139.715828</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Shirokanedai</string>
		<key>Name</key>
		<string>白金台</string>
		<key>Lat</key>
		<real>35.637917</real>
		<key>Long</key>
		<real>139.726133</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>ShirokaneTakanawa</string>
		<key>Name</key>
		<string>白金高輪</string>
		<key>Lat</key>
		<real>35.642903</real>
		<key>Long</key>
		<real>139.734104</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>AzabuJuban</string>
		<key>Name</key>
		<string>麻布十番</string>
		<key>Lat</key>
		<real>35.654682</real>
		<key>Long</key>
		<real>139.737051</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>RoppongiItchome</string>
		<key>Name</key>
		<string>六本木一丁目</string>
		<key>Lat</key>
		<real>35.665595</real>
		<key>Long</key>
		<real>139.739</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>TameikeSanno</string>
		<key>Name</key>
		<string>溜池山王</string>
		<key>Lat</key>
		<real>35.673621</real>
		<key>Long</key>
		<real>139.741419</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Nagatacho</string>
		<key>Name</key>
		<string>永田町</string>
		<key>Lat</key>
		<real>35.678757</real>
		<key>Long</key>
		<real>139.740258</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Yotsuya</string>
		<key>Name</key>
		<string>四ツ谷</string>
		<key>Lat</key>
		<real>35.686014</real>
		<key>Long</key>
		<real>139.730667</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Ichigaya</string>
		<key>Name</key>
		<string>市ケ谷</string>
		<key>Lat</key>
		<real>35.691008</real>
		<key>Long</key>
		<real>139.735585</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Iidabashi</string>
		<key>Name</key>
		<string>飯田橋</string>
		<key>Lat</key>
		<real>35.702065</real>
		<key>Long</key>
		<real>139.745015</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Korakuen</string>
		<key>Name</key>
		<string>後楽園</string>
		<key>Lat</key>
		<real>35.707337</real>
		<key>Long</key>
		<real>139.7512</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Todaimae</string>
		<key>Name</key>
		<string>東大前</string>
		<key>Lat</key>
		<real>35.717633</real>
		<key>Long</key>
		<real>139.758025</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>HonKomagome</string>
		<key>Name</key>
		<string>本駒込</string>
		<key>Lat</key>
		<real>35.724155</real>
		<key>Long</key>
		<real>139.753828</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Komagome</string>
		<key>Name</key>
		<string>駒込</string>
		<key>Lat</key>
		<real>35.736489</real>
		<key>Long</key>
		<real>139.746875</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Nishigahara</string>
		<key>Name</key>
		<string>西ケ原</string>
		<key>Lat</key>
		<real>35.745902</real>
		<key>Long</key>
		<real>139.742302</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Oji</string>
		<key>Name</key>
		<string>王子</string>
		<key>Lat</key>
		<real>35.752474</real>
		<key>Long</key>
		<real>139.738139</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>OjiKamiya</string>
		<key>Name</key>
		<string>王子神谷</string>
		<key>Lat</key>
		<real>35.765172</real>
		<key>Long</key>
		<real>139.735933</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Shimo</string>
		<key>Name</key>
		<string>志茂</string>
		<key>Lat</key>
		<real>35.777948</real>
		<key>Long</key>
		<real>139.732599</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>AkabaneIwabuchi</string>
		<key>Name</key>
		<string>赤羽岩淵</string>
		<key>Lat</key>
		<real>35.783417</real>
		<key>Long</key>
		<real>139.722103</real>
	</dict>
</array>
</plist>
