<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>odpt.Railway:TokyoMetro.Ginza</key>
	<dict>		
		<key>Name</key>
		<string>銀座線</string>
		<key>Color</key>
		<dict>
			<key>r</key>
			<integer>255</integer>
			<key>g</key>
			<integer>144</integer>
			<key>b</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>odpt.Railway:TokyoMetro.Marunouchi</key>
	<dict>		
		<key>Name</key>
		<string>丸ノ内線</string>
		<key>Color</key>
		<dict>
			<key>r</key>
			<integer>246</integer>
			<key>g</key>
			<integer>46</integer>
			<key>b</key>
			<integer>54</integer>
		</dict>
	</dict>
	<key>odpt.Railway:TokyoMetro.Hibiya</key>
	<dict>		
		<key>Name</key>
		<string>日比谷線</string>
		<key>Color</key>
		<dict>
			<key>r</key>
			<integer>181</integer>
			<key>g</key>
			<integer>181</integer>
			<key>b</key>
			<integer>172</integer>
		</dict>
	</dict>
	<key>odpt.Railway:TokyoMetro.Tozai</key>
	<dict>		
		<key>Name</key>
		<string>東西線</string>
		<key>Color</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>155</integer>
			<key>b</key>
			<integer>191</integer>
		</dict>
	</dict>
	<key>odpt.Railway:TokyoMetro.Chiyoda</key>
	<dict>		
		<key>Name</key>
		<string>千代田線</string>
		<key>Color</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>187</integer>
			<key>b</key>
			<integer>133</integer>
		</dict>
	</dict>
	<key>odpt.Railway:TokyoMetro.Yurakucho</key>
	<dict>		
		<key>Name</key>
		<string>有楽町線</string>
		<key>Color</key>
		<dict>
			<key>r</key>
			<integer>193</integer>
			<key>g</key>
			<integer>164</integer>
			<key>b</key>
			<integer>112</integer>
		</dict>
	</dict>
	<key>odpt.Railway:TokyoMetro.Hanzomon</key>
	<dict>		
		<key>Name</key>
		<string>半蔵門線</string>
		<key>Color</key>
		<dict>
			<key>r</key>
			<integer>143</integer>
			<key>g</key>
			<integer>118</integer>
			<key>b</key>
			<integer>214</integer>
		</dict>
	</dict>
	<key>odpt.Railway:TokyoMetro.Namboku</key>
	<dict>		
		<key>Name</key>
		<string>南北線</string>
		<key>Color</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>172</integer>
			<key>b</key>
			<integer>155</integer>
		</dict>
	</dict>
	<key>odpt.Railway:TokyoMetro.Fukutoshin</key>
	<dict>		
		<key>Name</key>
		<string>副都心線</string>
		<key>Color</key>
		<dict>
			<key>r</key>
			<integer>156</integer>
			<key>g</key>
			<integer>94</integer>
			<key>b</key>
			<integer>49</integer>
		</dict>
	</dict>
	<key>odpt.Railway:JR-East</key>
	<dict>
		<key>Name</key>
		<string>JR線</string>
	</dict>
	<key>odpt.Railway:JR-East.Chuo</key>
	<dict>
		<key>Name</key>
		<string>中央線</string>
	</dict>
	<key>odpt.Railway:JR-East.ChuoKaisoku</key>
	<dict>
		<key>Name</key>
		<string>中央線快速</string>
	</dict>
	<key>odpt.Railway:JR-East.ChuoSobu</key>
	<dict>
		<key>Name</key>
		<string>中央・総武線各駅停車</string>
	</dict>
	<key>odpt.Railway:JR-East.Joban</key>
	<dict>
		<key>Name</key>
		<string>常磐線</string>
	</dict>
	<key>odpt.Railway:JR-East.KeihinTohoku</key>
	<dict>
		<key>Name</key>
		<string>京浜東北線</string>
	</dict>
	<key>odpt.Railway:JR-East.Keiyo</key>
	<dict>
		<key>Name</key>
		<string>京葉線</string>
	</dict>
	<key>odpt.Railway:JR-East.Musashino</key>
	<dict>
		<key>Name</key>
		<string>武蔵野線</string>
	</dict>
	<key>odpt.Railway:JR-East.NaritaExpress</key>
	<dict>
		<key>Name</key>
		<string>成田エクスプレス</string>
	</dict>
	<key>odpt.Railway:JR-East.Saikyo</key>
	<dict>
		<key>Name</key>
		<string>埼京線</string>
	</dict>
	<key>odpt.Railway:JR-East.ShonanShinjuku</key>
	<dict>
		<key>Name</key>
		<string>湘南新宿ライン</string>
	</dict>
	<key>odpt.Railway:JR-East.Sobu</key>
	<dict>
		<key>Name</key>
		<string>総武線</string>
	</dict>
	<key>odpt.Railway:JR-East.Takasaki</key>
	<dict>
		<key>Name</key>
		<string>高崎線</string>
	</dict>
	<key>odpt.Railway:JR-East.Tokaido</key>
	<dict>
		<key>Name</key>
		<string>東海道線</string>
	</dict>
	<key>odpt.Railway:JR-East.Utsunomiya</key>
	<dict>
		<key>Name</key>
		<string>宇都宮線</string>
	</dict>
	<key>odpt.Railway:JR-East.Yamanote</key>
	<dict>
		<key>Name</key>
		<string>山手線</string>
	</dict>
	<key>odpt.Railway:JR-East.Yokosuka</key>
	<dict>
		<key>Name</key>
		<string>横須賀線</string>
	</dict>
	<key>odpt.Railway:Keio.Inokashira</key>
	<dict>
		<key>Name</key>
		<string>井の頭線</string>
	</dict>
	<key>odpt.Railway:Keio.Keio</key>
	<dict>
		<key>Name</key>
		<string>京王線</string>
	</dict>
	<key>odpt.Railway:Keio.New</key>
	<dict>
		<key>Name</key>
		<string>京王新線</string>
	</dict>
	<key>odpt.Railway:Keisei.KeiseiMain</key>
	<dict>
		<key>Name</key>
		<string>京成本線</string>
	</dict>
	<key>odpt.Railway:Keisei.KeiseiOshiage</key>
	<dict>
		<key>Name</key>
		<string>押上線</string>
	</dict>
	<key>odpt.Railway:MIR.TX</key>
	<dict>
		<key>Name</key>
		<string>つくばエクスプレス線</string>
	</dict>
	<key>odpt.Railway:Odakyu.Odawara</key>
	<dict>
		<key>Name</key>
		<string>小田原線</string>
	</dict>
	<key>odpt.Railway:SaitamaRailway.SaitamaRailway</key>
	<dict>
		<key>Name</key>
		<string>埼玉高速鉄道線</string>
	</dict>
	<key>odpt.Railway:Seibu.Ikebukuro</key>
	<dict>
		<key>Name</key>
		<string>池袋線</string>
	</dict>
	<key>odpt.Railway:Seibu.SeibuYurakucho</key>
	<dict>
		<key>Name</key>
		<string>西武有楽町線</string>
	</dict>
	<key>odpt.Railway:Seibu.Shinjuku</key>
	<dict>
		<key>Name</key>
		<string>新宿線</string>
	</dict>
	<key>odpt.Railway:TWR.Rinkai</key>
	<dict>
		<key>Name</key>
		<string>りんかい線</string>
	</dict>
	<key>odpt.Railway:Tobu.Isesaki</key>
	<dict>
		<key>Name</key>
		<string>伊勢崎線</string>
	</dict>
	<key>odpt.Railway:Tobu.Tojo</key>
	<dict>
		<key>Name</key>
		<string>東上線</string>
	</dict>
	<key>odpt.Railway:Toei.Asakusa</key>
	<dict>
		<key>Name</key>
		<string>浅草線</string>
	</dict>
	<key>odpt.Railway:Toei.Mita</key>
	<dict>
		<key>Name</key>
		<string>三田線</string>
	</dict>
	<key>odpt.Railway:Toei.NipporiToneri</key>
	<dict>
		<key>Name</key>
		<string>日暮里・舎人ライナー</string>
	</dict>
	<key>odpt.Railway:Toei.Oedo</key>
	<dict>
		<key>Name</key>
		<string>大江戸線</string>
	</dict>
	<key>odpt.Railway:Toei.Shinjuku</key>
	<dict>
		<key>Name</key>
		<string>新宿線</string>
	</dict>
	<key>odpt.Railway:Toei.TodenArakawa</key>
	<dict>
		<key>Name</key>
		<string>都電荒川線</string>
	</dict>
	<key>odpt.Railway:Tokyu.DenEnToshi</key>
	<dict>
		<key>Name</key>
		<string>田園都市線</string>
	</dict>
	<key>odpt.Railway:Tokyu.Meguro</key>
	<dict>
		<key>Name</key>
		<string>目黒線</string>
	</dict>
	<key>odpt.Railway:Tokyu.Toyoko</key>
	<dict>
		<key>Name</key>
		<string>東横線</string>
	</dict>
	<key>odpt.Railway:ToyoRapidRailway.ToyoRapidRailway</key>
	<dict>
		<key>Name</key>
		<string>東葉高速線</string>
	</dict>
	<key>odpt.Railway:Yurikamome.Yurikamome</key>
	<dict>
		<key>Name</key>
		<string>ゆりかもめ</string>
	</dict>
</dict>
</plist>
