<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>Nakano</string>
		<key>Name</key>
		<string>中野</string>
		<key>Lat</key>
		<real>35.706032</real>
		<key>Long</key>
		<real>139.665652</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Ochiai</string>
		<key>Name</key>
		<string>落合</string>
		<key>Lat</key>
		<real>35.71074</real>
		<key>Long</key>
		<real>139.686337</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Takadanobaba</string>
		<key>Name</key>
		<string>高田馬場</string>
		<key>Lat</key>
		<real>35.712285</real>
		<key>Long</key>
		<real>139.703782</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Waseda</string>
		<key>Name</key>
		<string>早稲田</string>
		<key>Lat</key>
		<real>35.705723</real>
		<key>Long</key>
		<real>139.721319</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Kagurazaka</string>
		<key>Name</key>
		<string>神楽坂</string>
		<key>Lat</key>
		<real>35.703904</real>
		<key>Long</key>
		<real>139.734238</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Iidabashi</string>
		<key>Name</key>
		<string>飯田橋</string>
		<key>Lat</key>
		<real>35.702065</real>
		<key>Long</key>
		<real>139.745015</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Kudanshita</string>
		<key>Name</key>
		<string>九段下</string>
		<key>Lat</key>
		<real>35.695589</real>
		<key>Long</key>
		<real>139.751948</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Takebashi</string>
		<key>Name</key>
		<string>竹橋</string>
		<key>Lat</key>
		<real>35.690662</real>
		<key>Long</key>
		<real>139.756817</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Otemachi</string>
		<key>Name</key>
		<string>大手町</string>
		<key>Lat</key>
		<real>35.684801</real>
		<key>Long</key>
		<real>139.766086</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Nihombashi</string>
		<key>Name</key>
		<string>日本橋</string>
		<key>Lat</key>
		<real>35.682413</real>
		<key>Long</key>
		<real>139.773919</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Kayabacho</string>
		<key>Name</key>
		<string>茅場町</string>
		<key>Lat</key>
		<real>35.679752</real>
		<key>Long</key>
		<real>139.780005</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>MonzenNakacho</string>
		<key>Name</key>
		<string>門前仲町</string>
		<key>Lat</key>
		<real>35.671984</real>
		<key>Long</key>
		<real>139.795787</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Kiba</string>
		<key>Name</key>
		<string>木場</string>
		<key>Lat</key>
		<real>35.669457</real>
		<key>Long</key>
		<real>139.806528</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Toyocho</string>
		<key>Name</key>
		<string>東陽町</string>
		<key>Lat</key>
		<real>35.669629</real>
		<key>Long</key>
		<real>139.817596</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>MinamiSunamachi</string>
		<key>Name</key>
		<string>南砂町</string>
		<key>Lat</key>
		<real>35.668796</real>
		<key>Long</key>
		<real>139.83065</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>NishiKasai</string>
		<key>Name</key>
		<string>西葛西</string>
		<key>Lat</key>
		<real>35.664528</real>
		<key>Long</key>
		<real>139.85937</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Kasai</string>
		<key>Name</key>
		<string>葛西</string>
		<key>Lat</key>
		<real>35.663523</real>
		<key>Long</key>
		<real>139.872694</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Urayasu</string>
		<key>Name</key>
		<string>浦安</string>
		<key>Lat</key>
		<real>35.665743</real>
		<key>Long</key>
		<real>139.892937</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>MinamiGyotoku</string>
		<key>Name</key>
		<string>南行徳</string>
		<key>Lat</key>
		<real>35.672687</real>
		<key>Long</key>
		<real>139.902311</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Gyotoku</string>
		<key>Name</key>
		<string>行徳</string>
		<key>Lat</key>
		<real>35.682558</real>
		<key>Long</key>
		<real>139.914235</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Myoden</string>
		<key>Name</key>
		<string>妙典</string>
		<key>Lat</key>
		<real>35.691613</real>
		<key>Long</key>
		<real>139.925017</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>BarakiNakayama</string>
		<key>Name</key>
		<string>原木中山</string>
		<key>Lat</key>
		<real>35.7032</real>
		<key>Long</key>
		<real>139.941876</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>NishiFunabashi</string>
		<key>Name</key>
		<string>西船橋</string>
		<key>Lat</key>
		<real>35.707452</real>
		<key>Long</key>
		<real>139.959097</real>
	</dict>
</array>
</plist>
