<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>Wakoshi</string>
		<key>Name</key>
		<string>和光市</string>
		<key>Lat</key>
		<real>35.788515</real>
		<key>Long</key>
		<real>139.612343</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>ChikatetsuNarimasu</string>
		<key>Name</key>
		<string>地下鉄成増</string>
		<key>Lat</key>
		<real>35.776557</real>
		<key>Long</key>
		<real>139.631497</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>ChikatetsuAkatsuka</string>
		<key>Name</key>
		<string>地下鉄赤塚</string>
		<key>Lat</key>
		<real>35.77053</real>
		<key>Long</key>
		<real>139.644543</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Heiwadai</string>
		<key>Name</key>
		<string>平和台</string>
		<key>Lat</key>
		<real>35.757863</real>
		<key>Long</key>
		<real>139.653762</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Hikawadai</string>
		<key>Name</key>
		<string>氷川台</string>
		<key>Lat</key>
		<real>35.749822</real>
		<key>Long</key>
		<real>139.665023</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>KotakeMukaihara</string>
		<key>Name</key>
		<string>小竹向原</string>
		<key>Lat</key>
		<real>35.743803</real>
		<key>Long</key>
		<real>139.678572</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Senkawa</string>
		<key>Name</key>
		<string>千川</string>
		<key>Lat</key>
		<real>35.738418</real>
		<key>Long</key>
		<real>139.689157</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Kanamecho</string>
		<key>Name</key>
		<string>要町</string>
		<key>Lat</key>
		<real>35.73323</real>
		<key>Long</key>
		<real>139.698715</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Ikebukuro</string>
		<key>Name</key>
		<string>池袋</string>
		<key>Lat</key>
		<real>35.728926</real>
		<key>Long</key>
		<real>139.71038</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>HigashiIkebukuro</string>
		<key>Name</key>
		<string>東池袋</string>
		<key>Lat</key>
		<real>35.725362</real>
		<key>Long</key>
		<real>139.720435</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Gokokuji</string>
		<key>Name</key>
		<string>護国寺</string>
		<key>Lat</key>
		<real>35.719044</real>
		<key>Long</key>
		<real>139.72754</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Edogawabashi</string>
		<key>Name</key>
		<string>江戸川橋</string>
		<key>Lat</key>
		<real>35.709495</real>
		<key>Long</key>
		<real>139.733538</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Iidabashi</string>
		<key>Name</key>
		<string>飯田橋</string>
		<key>Lat</key>
		<real>35.702065</real>
		<key>Long</key>
		<real>139.745015</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Ichigaya</string>
		<key>Name</key>
		<string>市ケ谷</string>
		<key>Lat</key>
		<real>35.691008</real>
		<key>Long</key>
		<real>139.735585</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Kojimachi</string>
		<key>Name</key>
		<string>麹町</string>
		<key>Lat</key>
		<real>35.684006</real>
		<key>Long</key>
		<real>139.737613</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Nagatacho</string>
		<key>Name</key>
		<string>永田町</string>
		<key>Lat</key>
		<real>35.678757</real>
		<key>Long</key>
		<real>139.740258</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Sakuradamon</string>
		<key>Name</key>
		<string>桜田門</string>
		<key>Lat</key>
		<real>35.677366</real>
		<key>Long</key>
		<real>139.751757</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Yurakucho</string>
		<key>Name</key>
		<string>有楽町</string>
		<key>Lat</key>
		<real>35.675069</real>
		<key>Long</key>
		<real>139.763328</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>GinzaItchome</string>
		<key>Name</key>
		<string>銀座一丁目</string>
		<key>Lat</key>
		<real>35.67435</real>
		<key>Long</key>
		<real>139.767045</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Shintomicho</string>
		<key>Name</key>
		<string>新富町</string>
		<key>Lat</key>
		<real>35.670462</real>
		<key>Long</key>
		<real>139.773711</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Tsukishima</string>
		<key>Name</key>
		<string>月島</string>
		<key>Lat</key>
		<real>35.664871</real>
		<key>Long</key>
		<real>139.784233</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Toyosu</string>
		<key>Name</key>
		<string>豊洲</string>
		<key>Lat</key>
		<real>35.654908</real>
		<key>Long</key>
		<real>139.79621</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>Tatsumi</string>
		<key>Name</key>
		<string>辰巳</string>
		<key>Lat</key>
		<real>35.645576</real>
		<key>Long</key>
		<real>139.81052</real>
	</dict>
	<dict>
		<key>ID</key>
		<string>ShinKiba</string>
		<key>Name</key>
		<string>新木場</string>
		<key>Lat</key>
		<real>35.646157</real>
		<key>Long</key>
		<real>139.827426</real>
	</dict>
</array>
</plist>
